#app{
  background: #fff;
}
.header{
  .van-cell--clickable:active{
    background-color:#fff;
  }
}
.overview,.books,.books-setting,.books-update,.books-join,.classify{
  .van-nav-bar .van-icon{
    color: #000;
  }
}
.content{
  margin: 12px;
}